.bords-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-color: #f4f7fd;
    height: 100vh; /* Ensure the container matches the viewport */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Prevent unintended scrolling */
}

.boards-list {
    flex: 0.4;
    display: flex;
    overflow-y: auto; /* Scroll if content exceeds */
    flex-direction: column;
    gap: 10px;
    background-color: white;
    height: calc(100vh - 0px); /* Remove white space */
    box-sizing: border-box; /* Include padding in height calculations */
    padding: 0 10px; /* Add padding inside */
}


.bordlen {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 12px;
    letter-spacing: 2.4px;
    padding-top: 10px;
    color: #828fa3;
    padding-left: 20px;
}

.board-row {
    

    display: flex;
    flex-direction: column;
    gap: 10px; 
    color: #828fa3;
    
    
}

.borderItem{

    display: flex;
    align-items: center;
    gap: 10px;
    background-color:white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    margin-right: 24px;
    padding: 15px 24px;
    transition: .3s;

  
}
.board-name {

    border: none;    
    color: #828fa3;

}
.borderItem:hover{
    background-color: rgba(99, 95, 199, .1);
    border-radius: 0 100px 100px 0;
    color: #635fc7;
}
.activeitem {
    background: #635fc7;
    border-radius: 0 100px 100px 0;
    color: #fff;
}


/* Right: Board Details */

.board-details {
    flex: 2;
    min-height: 200px; 
    padding: 20px;
    overflow-y: auto; 
    

}

/* Placeholder text for empty state */
.placeholder-text {
    color: #888;
    font-style: italic;
}
/* .boards-list {
    transition: transform 0.3s ease, opacity 0.3s ease;
} */

.boards-list.hidden {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none; /* Prevent interaction when hidden */
}


.toggle-button {
    display: flex;
    
    position: absolute;
    padding: 10px 20px;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    color: #828fa3;
    font-weight: 700;
  
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}
.toggle-button img{
    margin-right: 10px;
}
.toggle-button button{
    border: none;
    color: #828fa3;
    font-weight: 700;
  
    background-color: white;
    font-size: 15px;
}