.container1{
    display: flex;


    text-align: left;
    gap: 1cm;
    
    
    margin-top: 0px;
    margin-left: 0px;
}
.board-detalies{
    min-width: 250px;
    color: #828fa3;
  
    font-weight: 500;
    font-size: 15px;
}

.board-detalies #taskname{
    padding-bottom: 20px;
    letter-spacing: 2.4px;
    font-size: 12px;
    font-weight: 700;
}
 